/* Write your CSS code here */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  margin-top: 50px;
}
.heading {
  font-size: 40px;
  color: #ea580c;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 50px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  width: 23%;
  padding: 30px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.name {
  color: #475569;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto';
  padding-bottom: 8px;
  padding-top: 20px;
}
.box {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  border: 1px solid #cbd2d9;
  color: #9aa5b1;
  border-radius: 4px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}
.error-box {
  border: 1px solid #ff0b37;
  background-color: #fef2f4;
}

.button-cont {
  display: flex;
  justify-content: center;
}
.submit {
  font-size: 15px;
  height: 35px;
  width: 80px;
  background-color: #ea580c;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  margin-top: 20px;
}

.required {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
